# OS
.DS_Store

# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/
.metadata

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/

# Android
.gradle/
local.properties
android/app/debug/
android/app/profile/
android/app/release/

# iOS / macOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Pods/

# Logs
*.log

# Misc
*.swp
*.pyc
.history
.svn/